* {
    box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
    background-color: #333;
	font-family: verdana;
    font-size: 110%;
	border-collapse: collapse;
}

h1 {
	color: gold;
    font-size: 2em;
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
}

header h1 {
	margin: 10px 0px;
}

h2 {
    font-size: 1.75em;
}

p {
    font-size: 0.875em;
}

form {
    margin: 0 15px 15px 15px;
}

input {
	margin-top: 8px;
    margin-bottom: 15px;
	font-size: 1em;
	background-color: gold;
}

input:out-of-range {
	background-color: red;
}

fieldset {
	border-color: #999;
}

label {
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
}

.button {
    background-color: #4CAF50; /* green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
	font-size: 1rem;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	/*box-shadow: 0 9px #999;*/
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  /*box-shadow: 0 5px #666;*/
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(3px);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#shutdown, #SpindleOff, #StepperOff, #ProgramStop {
	background-color: #d3394c; /* red */
}

#shutdown:hover, #SpindleOff:hover, #StepperOff:hover, #ProgramStop:hover {
    background-color: #722040;
}

#shutdown:active, #SpindleOff:active, #StepperOff:active, #ProgramStop:active {
    background-color: #722040;
}

/* Custom Input-File */

.no-js .inputfile + label {
    display: none;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	max-width: 80%;
    /*font-size: 1.25em;*/ /*20px */
	font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    display: inline-block;
	cursor: pointer; /* "hand" cursor */
	padding: 15px 32px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style */

.inputfile-1 + label {
    color: #d3394c;
}

.inputfile-1 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
	margin: 3px 1px;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    border-color: #722040;
	color:white;
}

.inputfile-1 + label span,
.inputfile-1 + label strong {
	padding: 15px 32px;
    /*padding: 0.625rem 1.25rem;*/ /* 10px 20px */
}

.inputfile-1 + label span {
    width: 200px;
    /*min-height: 2em;*/
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-1 + label strong {
    height: 100%;
	/*min-height: 2em;*/
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-1:focus + label strong,
.inputfile-1.has-focus + label strong,
.inputfile-1 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-1 + label strong {
		display: block;
	}
}


a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:green; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

nav ul li>a:link    {color:black; background-color:transparent; text-decoration:none}
nav ul li>a:visited {color:black; background-color:transparent; text-decoration:none}
nav ul li>a:hover   {color:red; background-color:transparent; text-decoration:underline}
nav ul li>a:active  {color:red; background-color:transparent; text-decoration:underline}


table {
	display:block;
    margin: 2px;
    background-color: #f1f1c1;
}

table.impressum {
	table-layout: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
	width:15%
}

th {
    text-align: center;
}

td {
    text-align: right;
}

#controls {
    text-align: center;
}

#controls input {
	height: 100px;
	width: 100px;
	padding: auto;
    margin: 10px 60px;
	background-color:gold;
	font-size: 1.5em;
	font-weight: bold;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

header,footer,section,article {
	/*
	margin:5px;
	margin-bottom:15px;
	*/
	padding:8px;
	/*background-color:white;*/
}

article {
    border-bottom:1px solid #888;
	background-color:#666;
}

/*
header,footer,nav,section,aside {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

aside {
	background-color:#666;
}

header,footer {
    color:white;
	background-color:#222;
}

header {
    text-align:center;
    padding:0px;
}


header {
    background: rgba(0, 0, 0, 0) linear-gradient(#56585d, #2f3034) repeat scroll 0 0;
    border-bottom: 1px solid #000;
    position: relative;
    width: 100%;
}

/*
nav {
    line-height:30px;
	color: white;
    width:15%;
    float:left;
	margin:5px;
    padding:5px;
	text-align: center;
}
*/

nav {
	margin:0;
	padding:0;
	background-color: gold;
}

nav ul  {
    margin:0;
	padding:0;
}

nav ul li {
	font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
	list-style-type:none;
	/*outline-color: lightgrey;
	outline-style:outset;*/
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

nav ul li:hover {background-color: dodgerblue}

nav ul li:active {
  background-color: dodgerblue;
  /*box-shadow: 0 5px #666;*/
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(3px);
}

section {
	background-color: gold;
	width:80%;
    float:left;
    padding:0px;
	border-right: 1px solid #000;
}

section.impressum {
	width:100%;
	padding:0 15%;
}

article {
    padding:20px;
}

aside {
	display:inline;
	float:right;
	width: 20%;
    padding:20px;
	text-align: left;
	border-left: 1px solid #000;
}

aside h2 {
	margin-top: 10px;
}

aside input {
	text-align: right;
}

footer {
    clear:both;
    text-align:center;
    padding:5px;
	background: rgba(0, 0, 0, 0) linear-gradient(#444444, #3e3e3e) repeat scroll 0 0;
    border-top: 1px solid #676767;
}

#credits {
    color:grey;
    font-size:0.75rem;
}

.left {
	display:inline;
	float:left;
}

.right {
	display:inline;
	float:right;
}

.solo {
	display:block;
    clear: both;
}

.clearfix {
    overflow: auto;
}

aside form {
	margin: 15px 0;
}

aside input {
	width: 150px;
}

.state {
    height: 32px;
	line-height: 32px;
}

aside p {
	margin: 0;
	float: left;
	font-size: 1em;
}

.led-grey {
    margin: 10px;
    width: 12px;
    height: 12px;
	float: left;
    background-color: grey;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset lightgrey 0 -1px 9px, grey 0 2px 12px;
}

.led-red {
    margin: 10px;
    width: 12px;
    height: 12px;
	float: left;
    background-color: red;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
    margin: 10px;
    width: 12px;
    height: 12px;
	float: left;
    background-color: #A90;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
    margin: 10px;
    width: 12px;
    height: 12px;
	float: left;
    background-color: #690;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-blue {
    margin: 10px;
    width: 12px;
    height: 12px;
	float: left;
    background-color: #4AB;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
}

.Displaybox {
	float: right;
	height: 32px;
	line-height: 26px;
	width: 150px;
	margin: 0;
	margin-left: 5px;
	padding: 0 5px;
	border: 3px inset grey;
	text-align: right;
	font-size: 1em;
	color: red;
	background-color: gold;
}

.top_nav, .top_login {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.top_login {
    float: right;
}

.top_nav li, .top_login li {
    float: left;
    position: relative;
}

#helpwiki {
	width: 100%;
	height: 100vh;
}